
body {
  background-color: #f5f7f8;
    color: #69757a;
}
.container {
  background: white;
  margin: 20px;
  max-width: 768px;
  /* max-width: 480px; */
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.item {
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  font-size: 2em;
  width: 100%;

}
.item-column {

}

.item:active {

}

button {
  text-align: center;
  border-color: transparent;
  background-color: transparent;
  color: #0091d9;
  font-weight: bold;
}

.btndel {
  /* position: absolute; */
  /* left: 710px; */
  visibility: hidden;

}



input {
  border: transparent;
  /* width: 100px; */
}

.input-label {
  width: 300px;
  /* margin-left: 5px; */
}

.planned-label {
  width: 150px;
  text-align: right;
  /* margin-left: 5px; */
}
input:hover:not(:focus) {
    border: 1px solid #f5f7f8;
    background-color: #f5f7f8;
}

input:focus {
  outline: none;
  border: 1px solid #0091d9;
}

input:active {
    border: 1px solid #0091d9;
}

input:last-child {
  text-align: right;
}

.header-column {
  width: 300px;
  display: flex;
  /* margin-left: 44px; */
}

.header-column:nth-child(2) {
  width: 200px;
  /* margin-left: 5px; */
}

.header-column:last-child {
  /* text-align: center; */
  width: 200px;
   /* margin-left: 5px; */
}

.span-rem {
  width: 200px;
  text-align: right;
}

.card {
  flex-direction: row;
  padding: 20px;
}

.card-body {

}

p {
  padding: 0 5px;
}
